__pycache__
settings.json
.history
.gitignore
BacLipidDB.db
backups/
database_app/pages/.streamlit/
history.json
.dockerignore
DOCKER_GUIDE.html
Dockerfile
docker-compose.yml
requirements.txt
/Documentation